

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 *****************************************
    >>> | 01 Browser Reset & Common CSS|
 *****************************************
*/
html, body{
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(108, 108, 108, 1);
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px;
    color: #18191f;
    line-height: 1.3;
}




/*
 *****************************************
    >>> | Header menu CSS|
 *****************************************
*/
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation-grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    font-weight: 500;
    padding-right: 40px;
    color: #fff;
}

header {
    padding-top: 55px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation-btn {
    text-align: right;
}

.navigation-btn a {
    width: 123px;
    height: 44px;
    display: inline-block;
    background: #E02C6D;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-weight: 500;
}

.navigation-btn a i {
    margin-right: 5px;
}

.navigation-btn a:hover {
    background: tomato;
}

.humberger{
    display: none;
}

/*
 *****************************************
    >>> | banner CSS|
 *****************************************
*/
.banner{
    background: #2d24a0;
    padding-bottom: 50px;
}

.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-txt {
    padding-top: 215px;
    padding-right: 55px;
}

.banner-img {
    padding-top: 145px;
}

.banner-txt h1 {
    font-size: 64px;
    line-height: 1.4;
    color: #fff;
}

.banner-txt a {
    width: 168px;
    height: 44px;
    display: inline-block;
    background: #E02C6D;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
}

.banner-txt a i {
    margin-left: 5px;
}

.banner-txt a:hover {
    background: tomato;
}

.banner-txt a {
    width: 168px;
    height: 44px;
    display: inline-block;
    background: #E02C6D;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
}

.banner-txt a i {
    margin-left: 5px;
}

.banner-txt a:hover {
    background: tomato;
}

.banner-grid:hover img {
    transform: skewX(10deg);
}

.banner-img img {
    transition: .4s;
}



/*
 *****************************************
    >>> |  Player list CSS|
 *****************************************
*/
.player-list {
    padding-bottom: 150px;
    padding-top: 75px;
}


.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

.single-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.item-text h3 {
    color: #18191F;
    font-size: 28px;
    padding-top: 10px;
}

.item-text p {
    color: #6c6c6c;
}

.player-list .container {
    max-width: 1100px;
}



/*
 *****************************************
    >>> |  highlisghts CSS|
 *****************************************
*/
.grid-highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.let-content h1 {
    font-size: 48px;
    color: #0a0826;
    margin-bottom: 5px;
}

.let-content p {
    margin-top: 0;
    line-height: 28px;
}

.let-content a {
    display: inline-block;
    width: 172px;
    height: 44px;
    background: #E02C6D;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
}

.let-content a i {
    margin-left: 5px;
}

.let-content a:hover {
    background: tomato;
}



/*
 *****************************************
    >>> | footer CSS|
 *****************************************
*/

footer {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 100px;
}

.footer-logo img {
    max-width: 400px;
}

.footer-social-icon a {
    height: 32px;
    width: 32px;
    background: #e7e7e8;
    display: inline-block;
    line-height: 34px;
    color: #969bab;
    border-radius: 50%;
    margin: 0px 4px;
}

.footer-social-icon a:hover {
    background: #e02c6d;
    color: #fff;
}

.copyright p {
    font-size: 18px;
    color: #000000;
}

.footer-social-icon {
    margin-top: 5px;
}

.copyright {
    margin-top: 20px;
}


/*
 *****************************************
    >>> | Responsive CSS|
 *****************************************
*/

/* Medium Layout: 1200px. */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .banner-txt h1 {
        font-size: 50px;
    }
}

/* Tablet Layout: 991px. */
@media only screen and (min-width: 689px) and (max-width: 991px) {
    nav li a {
        padding-right: 10px;
        font-size: 15px;
    }
    
    .banner-txt h1 {
        font-size: 30px;
    }
    
    .let-content h1 {
        font-size: 35px;
    }
    
    br {
        display: none;
    }
    .grid-item {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Mobile Layout: */
@media only screen and (max-width: 688px) {
    
    nav {
        display: none;
    }
    
    button.humberger {
        display: block;
        background: no-repeat;
        border: none;
        text-align: left;
        font-size: 36px;
        color: #fff;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .banner-txt h1 {
        font-size: 36px;
    }
    
    .banner-grid {
        display: block;
    }
    
    .banner-txt {
        padding-top: 160px;
    }
    
    .banner-img {
        padding-top: 60px;
    }
    
    .grid-item {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .let-content h1 {
        font-size: 34px;
    }
    
    .grid-highlights {
        display: block;
    }
    
    section.player-list {
        padding-bottom: 70px;
    }
    
    .let-content {
        padding-bottom: 30px;
    }
    
    br {
        display: none;
    }
    
    footer {
        padding-top: 40px;
    }
    
    .footer-logo img {
        max-width: 250px;
    }

    
 }   
        